div.todo {
  margin: 15px 0;
  box-sizing: border-box;
}

div.todo button.btn {
  text-align: left;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}
div.todo button.btn:focus {
  box-shadow: none;
}

div.todo .todoToolbar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

div.todo .todoToolbar .todoTitleJumbotron {
  margin: 0;
  padding: 0 10px;
  flex-grow: 1;
  background-color: #fff;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid black;
  border-right: none;
}

div.todo .todoToolbar .todoTitleJumbotron.important {
  border: 1px solid red;
  border-right: none;
  font-weight: bold;
  color: red;
}

div.todo .todoToolbar .todoTitleJumbotron.completed {
  background-color: #28a745;
  color: white;
  border: 1px solid black;
  font-weight: normal;
  border-right: none;
}
div.todo .todoToolbar .todoTitleJumbotron p {
  margin: 0;
  line-height: 40px;
  word-break: break-all;
}

div.todo .todoToolbar .todoBtnGroup button {
  border-radius: 0%;
}

div.todo .todoToolbar .todoBtnGroup button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
